<mat-toolbar color="primary">
  <span>CarPool</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/login">Login</button>
  <button mat-button routerLink="/register">Register</button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened="true" class="sidenav">
    <mat-nav-list>
      <a mat-list-item routerLink="/home">Home</a>
      <a mat-list-item routerLink="/rides">Rides</a>
      <a mat-list-item routerLink="/profile">Profile</a>
      <a mat-list-item routerLink="/settings">Settings</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<footer class="footer">
  <div class="footer-content">
    <p>&copy; 2024 CarPool</p>
  </div>
</footer>
